@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Fredoka", sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}

header,
footer {
  height: 54px;
  display: flex;
  align-items: center;
}

.navigation-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links ul li {
  list-style-type: none;
  margin-left: 1rem;
}

.nav-links ul li a {
  color: #8b8b8b;
  text-decoration: none;
}

.active,
.nav-links ul li a:hover {
  color: #2b2b2b !important;
}

main,
aside {
  padding: 1rem 0rem;
}

hr {
  background-color: #84ce30;
  margin-top: 0.3rem;
  max-width: 40px;
  height: 2px;
  border: none;
}

main {
  min-height: calc(50vh - 54px);
  background-color: #fafafa;
  display: flex;
}

aside {
  min-height: calc(50vh - 54px);
}

.aside-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.aside-con {
  padding: 1rem 0rem 1rem 1rem;
}

.aside-img {
  max-width: 450px;
  padding: 2rem 0rem;
}

footer {
  color: aliceblue;
  background-color: #2b2b2b;
}

footer p {
  width: 100%;
  text-align: center;
}
