@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Fredoka", sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}

header,
footer {
  height: 54px;
  display: flex;
  align-items: center;
}

.navigation-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links ul li {
  list-style-type: none;
  margin-left: 1rem;
}

.nav-links ul li a {
  color: #8b8b8b;
  text-decoration: none;
}

.active,
.nav-links ul li a:hover {
  color: #2b2b2b !important;
}

footer {
  color: aliceblue;
  background-color: #2b2b2b;
}

footer p {
  width: 100%;
  text-align: center;
}
